* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ff0000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(29, 228, 3);
}

h1, h2 {
    text-align: center;
    color: blue;
}
